<section class="login">
    <div>
        <label for="username">نام کاربری</label>
        <input #un="ngModel" [class.problem]="un.touched && username==''" [(ngModel)]="username" id="username" type="text" placeholder="نام کاربری">
        @if (un.touched && username=='') {
             <label class="subtitle">الزامی است😢</label> 
        }
        @else {😎}
        
    </div>
    <div>
        <label for="password">کلمه عبور</label>
        <input #pw="ngModel" [class.problem]="pw.touched && password==''" [(ngModel)]="password" id="password" type="password" placeholder="کلمه عبور">
        @if (pw.touched && password=='') {
              <label class="subtitle">الزامی است😢</label>
        }
        @else {😎}
         
    </div>
    <div>
        <input  [(ngModel)]="remember" id="remember" type="checkbox"> 
        <label for="remember">من را به خاطر بسپار</label>
    </div>
    <div>
        <button [disabled]="username=='' || password=='' " (click)="check()">ورود</button>
    </div>
    @if (message!='') {
        <div class="message">
            {{message}}
        </div>
    }
        
</section>
