$primary-surface:rgb(12,102,147);
$normal-surface:rgb(114, 132, 148);
:host{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}
.login{
    width: 230px;
    background-color: white;
    padding: 1.3em;
    border: 1px solid gray;
    border-radius: 0.3em;
    box-shadow: 0 0 0.8em 0.2em gray; 
    div{
        margin: 0.5 0;
        input[type=text],input[type=password]{
            width: 100%;
            box-sizing: border-box;
            padding: 0.4em;
        }
        input:focus{
            outline-color: $normal-surface 2px;
        }
    }
    label:not(:last-child){
        display: block;
    }
    button{
        width: 100%;
        background-color: $primary-surface;
        color: white;
        padding: 0.4em;
        border: none;
        border-radius: 0.3em;
    }
    button[disabled]{
        background-color: silver;
    }
    button[disabled]:hover{
       cursor: not-allowed;
    }

    button:hover{
        cursor: pointer;

    }
}
.message{
    background-color: rgb(240,158,158);
    color: yellow;
    font-size: small;
    padding: 0.4em;
    border-radius: 0.3em; 
    text-align: center;
}

.problem{
   // background-color: rgb(235,183,183);
   outline: 2px solid rgb(249,157,157);
}
.subtitle{
    font-size: small;
    color: gray;
}

















.form-group{
    position: relative;
    margin-bottom: 20px;
}
.form-input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}
.form-input:invalid{
    border-color: red;
}
.form-input:invalid{
    visibility: visible;
}